---
name: CI

# yamllint disable-line rule:truthy
on:
    pull_request:
    push:

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    cargo-build:
        name: Cargo Build
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install stable toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
            - name: cargo build
              run: cargo b --workspace --all-targets --all-features
    cargo-fmt:
        name: Cargo fmt
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install stable toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  components: rustfmt
            - name: Rustfmt Check
              run: cargo fmt --all --check
    cargo-clippy:
        name: Cargo clippy
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install stable toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  components: clippy
            - name: Clippy Check
              run: >-
                  cargo clippy --workspace
                  --all-targets --all-features --
    cargo-doc:
        name: Cargo doc
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install stable toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
            - name: Cargo doc test
              run: cargo doc --workspace --all-features
    cargo-next-test:
        name: Cargo test
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install stable toolchain
              uses: actions-rust-lang/setup-rust-toolchain@v1
            - name: Install cargo-nextest
              uses: taiki-e/install-action@v2
              with:
                  tool: cargo-nextest
            - name: Cargo test
              run: >-
                  cargo nextest run --workspace --all-targets
                  --all-features --no-tests=pass
    typos-cli:
        name: typos
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install Typos
              uses: taiki-e/install-action@v2
              with:
                  tool: typos-cli
            - name: run typos
              run: typos
    taplo-toml-fmt:
        name: taplo fmt
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - name: Install Taplo
              uses: taiki-e/install-action@v2
              with:
                  tool: taplo-cli
            - name: Run Taplo
              id: taplo
              run: taplo fmt --check --diff
    yamlfmt:
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Repository
              uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                  go-version: stable
                  cache: false
            - name: Install yamlfmt
              run: go install github.com/google/yamlfmt/cmd/yamlfmt@latest
            - name: Run yamlfmt
              run: yamlfmt .
